[Unit]
Description=Timer to start the Diskwatch Python script every 5 min

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
Unit=diskwatch.service

[Install]
WantedBy=multi-user. target